* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
:root {
    --background: #fef4ea;
    --gencolor: #ffeade;
    --button: #ff5e35;
    --buttonhover:  #e04826;
    --buttonborder: #ff5e35;
    --button2hover:var(--gencolor)
  }
.wrapper {
    width: 100%;
    height: 100%;
}
.utility-bar {
    padding: 0rem 3rem;
    background-color: #fdfdfd;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.utility-menu {
  width: 82%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}
.utility-links {
    width: 55%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.utility-links > ul {
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    width: 100%;
}
li {
    list-style: none;
    font-size: 0.8rem;
}
.utility-cta {
    width: 18%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
}
.utility-cta > ul {
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
    width: 100%;
}
.bi-search {
    color: rgb(0, 119, 255);
}
a {
    text-decoration: none;
    color: black;
}
.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: visible;
}
.nav-menu {
    width: 88%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-links > ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.nav-links > ul > li {
    font-size: 1.25rem;
}
 .logo {
    width: 15%;
    height:15%;
    margin-left: -4%;
}
.navbut-div {
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.demo {
    height: 45%;
    width: 45%;
    background-color: #ff5e35;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0 0.4rem;
}
.start{
    width: 60%;
    height: 45%;
    color: var(--button);
    border: 2px solid var(--buttonborder);
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0 0.4rem;
}
.background {
    width: 100vw;
    height: 500px;
    background-color: var(--background);
    background-size: cover;
}