
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: Queens;
  src: url(https://fonts.ninja/font/Kilotype-Queens-273381);
}
:root {
  --background: #fef4ea;
  --gencolor: #ffeade;
  --button: #ff5e35;
  --buttonhover:  #e04826;
  --buttonborder: #ff5e35;
  --button2hover:var(--gencolor)
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #213343;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}
.utility {
  display: flex;
  justify-content: space-between;
}
.utility-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding-left: 10.5%;
  max-width: 1500px;
}
.utility-menu {
  list-style: none;
  display: flex;
  gap: 50px;
}
.utility-menu > li {
  font-size: 0.85rem;
  font-family: "Lexend Deca";
} 
.utility-menu > li > a {
  text-decoration: none;
  color: black;
  width: 100%;
  max-width: 1000px;
}
.utility-cta {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 0 15px;
  width: 50%;
}
.utility-cta > a {
  color: black;
  text-decoration: none;
  font-size: 0.85rem;
  height: 50%;
  font-family: "Lexend Deca";
}
  .navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 999;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    position: relative;
  }
  .navbar-logo img {
    height: 72px;
    width: 40%;
  }
  .navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 12%;
    width: 40%;
  }
   .navbar-links li {
    display: inline-block;
    font-size: 1rem;
    color: #213343;
    width: 35%;
    display: flex;
    justify-content: center;
    font-family: Lexend Deca;
  }
  .bilink {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  .navbar-links a:hover {
    color: #5fa3d4;
  }

  .navbar-cta, .utility-cta {
    width:30%;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .navbar-cta {
    margin-left: 5%;
    display: flex;
    justify-content: flex-end;
    font-family: "Lexend Deca";
  }
  .navbar-btn {
    background-color: #ff5e35;
    color: #ffffff;
    width: 35%;
    height: 45px;
    padding: 3% 1%;
    border-radius: 10px;
    border: 0;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .navbar-btn2 {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff5e35;
    padding: 3% 3%;
    height: 45px;
    width: 45%;
    background-color: white;
    color: #ff5e35;

  }
  .navbar-btn, .navbar-btn2 {
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    font-family: Lexend Deca;
  }
   .navbar-btn2:hover {
    background-color: #ffe9f5;
    border: 2px solid var(--buttonhover);
   }
  .navbar-btn:hover {
    background-color: #e04826;
  }
  
  .navbar-login {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
  }
  
  .navbar-login:hover {
    color: #005bb5;
  }
  .fall {
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 80%;
    font-size: 0.8rem;
  }
  .learn {
    width: 15%;
    height: 40px;
    background-color: white;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .background {
     background-color: var(--background);
     width: 100%;
    max-width: 1400px;
     height: 650px;
     position: relative;
     display: flex;
     justify-content: center;
     background-position: center center;
     background-size: cover;
     background-attachment: scroll;
  }
  .hero-img {
    position: absolute;
    margin-top: 1%;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    gap: 6%;
  }
  .hero-text {
    margin-top: 6%;
    width: 85%;
    height: 100%;
    padding-left: 8%;
  }
  .back-img-div {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding-left: 4%;
  }
  #firstimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-left: 5%;
    margin-top: -2%;
  }
  .hero-text h1 {
    font-size: 3.8rem;
    height: 25%;
    display: flex;
   }
  .hero-text h5 {
    font-family: Lexend Deca;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    height: 30px;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    align-items: end;
  }
 .hero-text p:first-of-type {
    font-size: 0.92rem;
    width: 100%;
    height: 90px;
    line-height: 1.6rem;
    font-family: Lexend Deca;
  }
.hero-button {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 4%;
}
  .hero-demo {
     width: 40%;
     color: white;
     height: 85%;
     font-size: 1.2rem;
     border-radius: 10px;
     border: none;
     font-weight: bold;
     background-color: var(--button);
  }
  .hero-demo:hover {
    background-color: var(--buttonhover);
    transition: 0.3s ease;
    cursor: pointer;
  }
  .hero-free {
    width: 45%;
    height: 85%;
    background-color: white;
    border: 2px solid var(--buttonborder);
    border-radius: 10px;
    color: var(--button);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
  }
.hero-free:hover {
  background-color: var(--button2hover);
  border: 2px solid var(--buttonhover);
}
.button-text {
  margin-top: 1%;
  font-size: 0.85rem;
  font-family: Lexend Deca;
}
.second-div {
  width: 100%;
  height: 250px;
}
.second-div h3 {
  background-color: white;
  height: 45%;
  font-family: Lexend Deca;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vid-background {
  width: 100%;
  height:  450px;
  background-color: #f6f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.vidtext-div {
  width: 82%;
  height: 85%;
  display: flex;
  align-items: center;
  gap: 2.5%;
  position: relative;
} 
.drive {
  width: 52%;
  height: 75%;
}
.drive h2 {
  font-size: 2rem;
  width: 80%;
  height: 45%;
  margin-top: 2%;
  font-weight: 500;
  font-family: Lexend Deca;
}
.drive > .drive-para {
  font-size: 0.96rem;
  width: 100%;
  height: 40%;
  margin-top: -4%;
  font-family: Lexend Deca;
  font-weight: 300;
}
.drive-button {
  width: 60%;
  height: 37%;
  display: flex;
  align-items: center;
  gap: 6%;
  margin-top: -7%;
}
.demo, .learn-more {
  height: 50%;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  font-family: Lexend Deca;
}
.demo {
  width: 50%;
  border: none;
  background-color: var(--button);
  color: white;
}
.demo:hover {
  background-color: var(--buttonhover);
  transition: 0.4s ease;
}
.learn-more {
  width: 55%;
  border: 2px solid var(--button);
  color: var(--button);
  background-color: white;
}
.learn-more:hover {
  background-color: #ffe9f5;
  border: 2px solid var(--buttonhover);
}
.drive-button > button:first-of-type > a {
  color: white;
  }
  .drive-button > button:last-of-type > a {
    color: var(--button);
  }
.play-button-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button);
  opacity: 0.8;
  height: 17%;
  width: 5%;
  left: 18.2%;
  border-radius: 100%;
  cursor: pointer;
}
.play-button-div:hover {
  opacity: 1;
  background-color: var(--buttonhover);
  transition: 0.7s ease-in-out;
}
.bi-play-fill {
  font-size: 2.1rem;
  color: white;
}
.frontoffice {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.frontoffice div:first-child {
  width: 80%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frontofficeimg {
  width: 80%;
  margin-top: 3%;
  height: 80%;
}
.frontoffice > h2 {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  font-family: Lexend Deca;
}
.frontoffice > p {
  width: 75%;
  font-family: Lexend Deca;
}
.frontoff-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 35%;
  height: 120px;
  margin-bottom: 3%;
}
.frontoff-btn > button:first-child {
  width: 30%;
  height: 45%;
  border-radius: 10px;
  border: 0;
  font-size: 1rem;
  font-family: Lexend Deca;
  color: white;
  background-color: var(--button);
  font-weight: bold;
  cursor: pointer;
}
.frontoff-btn > button:first-child:hover {
  background-color: var(--buttonhover);
  transition: 0.4s ease;
}
.frontoff-btn > button:last-child {
  width: 35%;
  height: 45%;
  border-radius: 10px;
  border: 3px solid var(--button);
  font-size: 1rem;
  font-family: Lexend Deca;
  color: var(--button);
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}
.frontoff-btn > button:last-child:hover {
  background-color: var(--button2hover);
  border:  3px solid var(--buttonhover);
  transition: 0.4s ease;
}
.first-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  justify-content: center;
  background-color: var(--background);
  
  width: 100%;
  height: auto;
  padding: 0 10%;
  gap: 20px;
}
.grid-item {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px 0 30px;
  border-radius: 5px;
}
.item7 {
  grid-row: 3;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5%;
  height: auto;
  padding:  60px 50px 15px 50px;
}
.grid-header {
  display: flex;
  width: 100%;
  height: auto;
  gap: 10px;
  text-align: left;
}
.grid-header h3 {
  font-size: 1.4rem;
  font-family: Lexend Deca;
  font-weight: 500;
  margin-top: 2.5%;
}
#grid-img {
  width: 40px;
  height: 40px;
}
sup {
  font-size: 0.7rem;
}
.grid-item > p:first-of-type {
  text-align: left;
  margin-top: 10%;
  font-size: 0.9rem;
  font-family: Lexend Deca;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid  #7691ad;
  font-weight: 300;
}
.grid-item > p:nth-of-type(2) {
  margin-top: 3%;
  font-family: Lexend Deca;
  font-size: 1rem;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.grid-item:hover {
  transition: 0.4s ease;
  background-color: #dbe6ed;
  transform: scale(1.025);
}
.bi-check-circle-fill {
  color: var(--button);
  font-size: 1.2rem;
}
.feats {
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
}
.feats-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  gap: 8px;
}
.feats > p {
  font-family: Lexend Deca;
  font-weight: 400;
  font-size: 0.8rem;
}
.grid-but {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-but > button {
  width: 98%;
  height: 50%;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: Lexend Deca;
  font-weight: 600;
  color: white;
  background-color: var(--button);
  cursor: pointer;
}
.grid-but > button:hover {
  background-color: var(--buttonhover);
  transition: 1.8s ease;
}
.span-grid-text {
  width: 50%;
  display: flex;
  height: auto;
  flex-direction: column;
}
.span-grid-img {
  width: 45%;
  background-color: red;
  height: 280px;
}
.span-grid-text h2 {
  font-family: Lexend Deca;
  height: auto;
  font-weight: 400;
}
.span-grid-text p {
  font-family: Lexend Deca;
  padding: 10px 0px 40px 0px;
  font-weight: 300;
  font-size: 0.88rem;
  line-height: 1.5rem;
}
.span-grid-text button {
  width: 100%;
  height: 60px;
  background-color: var(--button);
  color: white;
  font-size: 1.2rem;
  font-family: Lexend Deca;
  border-radius: 8px;
  border: none;
}
.span-grid-text button:hover {
  background-color: var(--buttonhover);
  transition: 0.5s ease;
}
.grid-img > img {
  width: 30px;
  height: 30px;
}
.grid-img.cont {
  
}