* { 
    box-sizing: border-box;
    overflow-x: hidden;
}
body, html {
   margin: 0;
   padding: 0;
   width: 100vw;
   overflow-x: hidden;
}
.landing-zone {
    height: 60px;
    background-color: #fafafa;
    width: 100vw;
    position: relative;
    top: 0;
    overflow-y: hidden;
   
}
.sapslogo {
    position: absolute;
    width: 100%;
    height: 58%;
    top: 20%;
    object-fit: contain;
    margin-left: -42%;
}
.main-navigation {
    display: flex;
    height: 60px;
    align-items: center;
    margin: auto;
    width: 100vw;
    margin-left: 9%;
    overflow-y: hidden;
}

.navul {
    list-style: none;
    display: flex;
    position: relative;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    gap: 2.5%;

}
.navul > li {
   font-size: 91%;
   cursor: pointer;
   font-family: inherit;
}
.navul > li:hover {
    color: rgb(0, 110, 255);
}
.explore {
    width: 16%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    font-size: 90%;
    align-items: center;
    cursor: pointer;
    margin-left: 10%;
    position: absolute;
    left: 70%;
}
.explore > p:hover {
    color: rgb(0, 110, 255);
}

.bi-search, .bi-person, .bi-globe {
    font-size: 1.2rem;
}
.bi-search:hover, .bi-person:hover, .bi-globe:hover {
    color: rgb(0, 110, 255);
}
.background-image {
    background-image: url(https://www.sap.com/dam/application/shared/photos/homepage/297084-sap-teched-hp.jpg/_jcr_content/renditions/297084-sap-teched-hp_homepage_1920_0686.jpg.adapt.1920_686.false.false.false.false.jpg/1723740178509.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 680px;
    min-height: 680px;
    display: flex;
}
.hero-div {
    margin: 150px auto 0 70px;
    width: 60%;
    height: 80%;
}
.hero-text > p {
    font-size: 1.8rem;
    height: 25%;
    margin-top: -25px;
    width: 65%;
    font-weight: 200;
}
.hero-text > h1 {
    font-size: 4rem;
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    margin-top: -5px;
    overflow: hidden;
    font-weight: bold;

}
.learnbutton {
    width: 20%;
    height: 80px;
    margin-top: -1.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.learn {
    width: 80%;
    height: 50%;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin: -2px 0;
    cursor: pointer;
}
.learn:hover {
    background-color: darkblue;
    transition: 0.4s ease;
}
.line {
    width: 24%;
    height: 60px;
}
.small-vertical {
    top: 35%;
    width: 1.5%;
    height: 35%;
    background-color: black;
    position: absolute;
}
.b4grid {
  width: 100vw;
  height: 180px;
  display: flex;  
  justify-content: space-between; 
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 1%;
    position: relative;
    width: 22%;
    top: 20%;
}
.services > p {
    margin-left: -20%;
    font-size: 18px;
    font-weight: bold;
}
.view {
    display: flex;
    align-items: self-end;
    margin-right: 6%;
    width: 14%;
    height: 120px;
    left: 20%;
}
.viewbut {
    height: 50px;
    width: 98%;
    max-width: 98%;
    border-radius: 10px;
    border: 1.5px solid grey;
    font-size: 100%;
    font-weight: 600;
    color: rgb(0, 83, 139);
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.viewbut:hover {
    transition: 0.2s ease;
    background-color: #f3faff;
}
.grid-container {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: repeat(4, 220px);
    padding-bottom: 12%;
    justify-content: center;
    gap: 5%;
    overflow-y: hidden;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-top: 0.1px solid #ededed;
    box-shadow:  0 5px 2px lightgrey;
    padding: 20px;
    font-size: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  .grid-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 -4px 10px rgba(0, 0, 0, 0);
  }
  .embed {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    top: 0;
    letter-spacing: 0.5px;
  }
  .embed > h5 {
    
    font-size: 1.3rem;
    overflow-y: hidden;
    margin-top: 1%;
  }
  .embed > p {
    font-size: 1.2rem;
    margin-top: -2%;
    overflow-y: hidden;
    width:95%;
    
  }
  .embed > .link {
    margin-top: -3%;
    overflow-y: hidden;
    font-size: 1.2rem;
  }
.embed > .link > a {
    text-decoration: none;
    color: rgb(105, 100, 215);
}
.link > a:hover {
    text-decoration: underline;
    color: rgb(35, 90, 215);
}
.bi-chevron-right {
    font-size: 14px;
    margin-left: 1%;
    color: rgb(105, 100, 215);;
}

.comp {
    width: 90%;
    max-width: 1200px;
    margin: 4% auto 0 auto;
    display: flex;
    align-items: center;
    height: 120px;
}
.comp > h2 {
    
    font-size: 2.1rem;
}

.aftergrid {
    margin-top: 1%;
    width: 70%;
    height: 70px;
    display: flex;
    gap: 3%;
   margin-left: -12%;
}
.aftergrid > p {
    font-size: 16px;
    margin-top: 5%;
    width: 71%;
    height: 20px;
}
.line2 {
    width: 2.5%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin-left: 18%;
}
.small-vertical2 {
    width:  50%;
    height: 90%;
    background-color: black;
}
/* .cloud {
   font-size: 1.0rem;
}
.market {
    margin-top: -4%;
    font-size: 1.1rem;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}*/
.clouderp {
    width: 40%;
    position: absolute;
}
.erp {

    width: 44%;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.erp:hover {
    background-color: rgb(0, 56, 139);
    transition: 0.2s ease;
}
.imgcard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#sapcard {
    width: 100%;
    height: 100%;
    margin-left: 2%;
}
.grid-container2 {
    display: grid;
    grid-template-columns:  520px 700px;
   grid-template-rows: auto auto;
    justify-content: center;
    
}
.cloud {
    width: 95%;
    height: 220px;
    padding: 0 0.5%;
    margin-left: -5%;
    position: relative;
}
.sol {
    font-size: 1.3rem;
    width:550px;
    height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.sol > h2 {
    margin-left: 4%;
}
.box2 {
    width: 1050px;
    border: 0.2px solid #fefefe;
    height: 100%;
  display: flex;
  justify-content: flex-start;
}
.box1 {
    width: 100%;
    width: 100%;
    margin-left: 4%;
    
}
.market {
    margin-top: -5%;
   width: 450px;
    margin-left: 5%;
}
.market > h5 {
    font-size: 1.2rem;
}
.aftersecgrid {
    width: 31%;
    height: 90px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.aftersecgrid > p {
    font-size: 1.1rem;
}
.line3 {
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
}
.small-vertical3 {
    background-color: black;
    height: 80%;
    width: 5%;

}
.grid-container3 {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: repeat(2, 460px);
    justify-content: center;
    margin-top: 3%;
    gap: 3%;
}
.grid-square {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-top: 0.1px solid #ededed;
    box-shadow:  0 5px 2px lightgrey;
  font-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.grid-square > h4 {
    font-size: 1.4rem;
}
#squaregridimg {
    width: auto;
    height: 50%;
    object-fit: cover;
}
hr {
    margin-top: -2%;
    width: 93%;
    height: 0.2px;
    background-color: lightgrey;
    border: 0;
}
.grid-square > p {
    padding: 0 0.9rem;
    font-size: 1.2rem;
    text-align: left;
}
.grid-square > .link2 {
    text-align: left;
    font-size: 1.1rem;
    padding: 0 0.9rem;
    text-decoration: none;
    color: rgb(105, 100, 215);
}
.grid-square > .link2:hover {
    text-decoration: underline;
    color: rgb(35, 90, 215);
}
.grid-square:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 -4px 10px rgba(0, 0, 0, 0);
}
