* { 
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Roboto;
}
 .contacts {
    width: 15%;
    height: 10%;
    position: fixed;
    bottom: 3%;
    right: 1%;
    background-color: var(--button);
    display: flex;
    justify-content: center;
    gap: 8%;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
.contacts:hover {
    transition: 0.4s ease-in, 0.4s ease-out;
    background-color: var(--buttonhover);
} 
#us {
    width: 15%;
    margin-left: -1%;
}
body, html {
   margin: 0;
   padding: 0;
   width: 100vw;
   overflow-x: hidden;
   position: relative;
}
.landing-zone {
    height: 60px;
    background-color: #f5f5f5;
    z-index: 2;
    width: 100vw;
    position: relative;
    top: 0;
    overflow-y: hidden;
   
}
.sapslogo {
    position: absolute;
    width: 100%;
    height: 58%;
    top: 20%;
    object-fit: contain;
    margin-left: -42%;
}
.main-navigation {
    display: flex;
    height: 60px;
    align-items: center;
    margin: auto;
    width: 100vw;
    margin-left: 10%;
    overflow-y: hidden;
}

.navul {
    list-style: none;
    display: flex;
    position: relative;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 2.2%;
    font-family: "Open Sans";
}
.navul > li {
   font-size: 91%;
   cursor: pointer;
   font-weight: 100;
}
.navul > li:hover {
    color: rgb(0, 110, 255);
}
.explore {
    width: 15.5%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    font-size: 90%;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin-left: 10%;
    right: 5.5%;
}
.explore > p:hover {
    color: rgb(0, 110, 255);
}

.bi-search, .bi-person, .bi-globe {
    font-size: 1.2rem;
}
.bi-search:hover, .bi-person:hover, .bi-globe:hover {
    color: rgb(0, 110, 255);
}
.background-flex {
    width: 100%;
    height: 30%;
}
.background-image {
    background-image: url(https://www.sap.com/dam/application/shared/photos/homepage/297084-sap-teched-hp.jpg/_jcr_content/renditions/297084-sap-teched-hp_homepage_1920_0686.jpg.adapt.1920_686.false.false.false.false.jpg/1723740178509.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 680px;
    min-height: 680px;
    display: flex;
}
.hero-div {
    margin: 180px auto 0 70px;
    width: 60%;
    height: 70%;
    padding-left: 0.8%;
}
.hero-text > p {
    font-size: 1.72rem;
    height: 25%;
    margin-top: -3%;
    width: 73%;
    font-weight: 200;
    line-height: 1.9rem;
    overflow: hidden;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.74)
}
.hero-text > h1 {
    font-size: 3.8rem;
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
    margin-top: -5px;
    overflow: hidden;
    font-weight: 600;
    line-height: 4rem;

}
.learnbutton {
    width: 20%;
    height: 80px;
    margin-top: -1.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.learn {
    width: 76%;
    height: 52%;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin: -2px 0;
    cursor: pointer;
}
.learn:hover {
    background-color: darkblue;
    transition: 0.4s ease;
}
.line {
    width: 24%;
    height: 60px;
}
.small-vertical {
    top: 35%;
    width: 1.5%;
    height: 35%;
    background-color: black;
    position: absolute;
}
.b4grid {
  width: 100vw;
  height: 180px;
  display: flex;  
  justify-content: space-between; 
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 1%;
    position: relative;
    width: 22%;
    top: 20%;
}
.services > p {
    margin-left: -20%;
    font-size: 18px;
    font-weight: bold;
}
.view {
    display: flex;
    align-items: self-end;
    margin-right: 6%;
    width: 14%;
    height: 120px;
    left: 20%;
}
.viewbut {
    height: 50px;
    width: 98%;
    max-width: 98%;
    border-radius: 10px;
    border: 1.5px solid grey;
    font-size: 100%;
    font-weight: 600;
    color: rgb(0, 83, 139);
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.viewbut:hover {
    transition: 0.2s ease;
    background-color: #f3faff;
}
.grid-container {
   
    display: grid;
    grid-template-columns: 590px 590px;
    grid-template-rows: repeat(4, 210px);
    padding-bottom: 12%;
    justify-content: center;
    gap: 4%;
    overflow-y: hidden;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-top: 0.05px solid #ededed;
    box-shadow:  0 2px 5px lightgrey;
    padding: 23px;
    font-size: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  .grid-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -4px 10px rgba(0, 0, 0, 0);
  }
  .embed {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    top: 0;
    
  }
  .embed > h5:first-of-type  {
    padding-bottom: 5%;
  }
  .embed > .hana {
    margin-top: -8%;
  }
  .embed > h5 {
    width: 100%;
    font-size: 1.3rem;
    overflow-y: hidden;
    margin-top: -1%;
  }
  .embed > p {
    font-size: 1rem;
    margin-top: -10%;
    overflow-y: hidden;
    width:100%;
    
  }
  .embed > .link {
    margin-top: -2%;
    overflow-y: hidden;
  }
.embed > .link > a {
    text-decoration: none;
    color: rgb(105, 100, 215);
    font-size: 1rem;
}
.link > a:hover {
    text-decoration: underline;
    color: rgb(35, 90, 215);
}
.bi-chevron-right {
    font-size: 14px;
    margin-left: 1%;
    color: rgb(105, 100, 215);;
}
.altgrid1 {
    margin: 3% auto;
    display: none;
    width: 80%;
    height: 600px;
}

.altgrid1 > a  {
    font-size: 1.2rem;
    border-bottom: 1px solid lightgrey;
}
 span {
    display: flex;
    line-height: 2rem;
    gap: 2%
}
span > .bi {
    margin-top: 3%;
}
.comp {
    width: 90%;
    max-width: 1200px;
    margin: 4% auto 0 auto;
    display: flex;
    align-items: center;
    height: 120px;
}
.comp > h2 {
    
    font-size: 2.1rem;
}

.aftergrid {
    margin-top: 1%;
    width: 70%;
    height: 70px;
    display: flex;
    gap: 3%;
   margin-left: -12%;
}
.aftergrid > p {
    font-size: 16px;
    margin-top: 5%;
    width: 71%;
    height: 20px;
}
.line2 {
    width: 2.5%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin-left: 18%;
}
.small-vertical2 {
    width:  50%;
    height: 90%;
    background-color: black;
}
.clouderp {
    width: 40%;
    position: absolute;
}
.erp {

    width: 44%;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.erp:hover {
    background-color: rgb(0, 56, 139);
    transition: 0.2s ease;
}
.imgcard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#sapcard {
    width: 100%;
    height: 100%;
    margin-left: 2%;
}
.grid-container2 {
    display: grid;
    grid-template-columns:  520px 700px;
   grid-template-rows: auto auto;
    justify-content: center;
    
}
.cloud {
    width: 95%;
    height: 220px;
    padding: 0 0.5%;
    margin-left: -5%;
    position: relative;
}
.sol {
    font-size: 1.2rem;
    width:550px;
    height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.sol > h2 {
    margin-left: 4%;
}
.box2 {
    width: 1050px;
    border: 0.2px solid #fefefe;
    height: 100%;
  display: flex;
  justify-content: flex-start;
}
.box1 {
    width: 100%;
    width: 100%;
    margin-left: 3%;
    
}
.market {
    margin-top: -5%;
   width: 450px;
    margin-left: 5%;
}
.market > h5 {
    font-size: 1.1rem;
}
.aftersecgrid {
    width: 50%;
    height: 90px;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-left: -1%;
}
.aftersecgrid > p {
    font-size: 1rem;
    width: 80%;
}
.line3 {
    width: 15%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
}
.small-vertical3 {
    background-color: black;
    height: 80%;
    width: 5%;

}
.grid-container3 {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: repeat(2, 480px);
    justify-content: center;
    margin-top: 3%;
    gap: 3%;
    padding-top: 2%;
    padding-bottom: 5%;
    overflow: hidden;
}
.grid-square {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-top: 0.1px solid #ededed;
    box-shadow:  0 2px 2px lightgrey;
    font-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.grid-square > h4 {
    font-size: 1.4rem;
}
#squaregridimg {
    width: auto;
    height: 50%;
    object-fit: cover;
}
hr {
    margin-top: -2%;
    width: 93%;
    height: 0.2px;
    background-color: lightgrey;
    border: 0;
}
.grid-square > p {
    padding: 0 0.9rem;
    font-size: 1.2rem;
    text-align: left;
}
.grid-square > .link2 {
    text-align: left;
    font-size: 1.1rem;
    padding: 0 0.9rem;
    text-decoration: none;
    color: rgb(105, 100, 215);
}
.grid-square > .link2:hover {
    text-decoration: underline;
    color: rgb(35, 90, 215);
}
.grid-square:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 -4px 10px rgba(0, 0, 0, 0);

}
.wrapper-map {
    background-image: url(https://www.sap.com/dam/application/shared/graphics/world-map.png/_jcr_content/renditions/original.adapt.1920_928.false.false.false.false.png/1726667683618.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    margin: 2.5% auto;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
 }
.wrapper-map > h4 {
    font-size: 2.2rem;
    margin: 1% auto;
    height: 120px;
    position: relative;
}
.search {
    margin-top: 10%;
    width: 18%;
    height: 15%;
    font-size: 0.95rem;
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 110, 255);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.search:hover {
    background-color: rgb(0, 88, 139);
    transition: 0.4s ease;
    cursor: pointer;
}
.animate {
    width: 85%;
    height:700px;
    display: flex;
    gap: 0.1%;
    padding: 0%;
    margin: 3% auto;
}
.inilogo {
    animation-name: Logoz;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    transition: 2s linear;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    margin:0 0.3rem;
}
.pause-button {
    position: absolute;
    top: 75%;
    right: 88%;
    width: 5%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-pause-circle {
    font-size: 2rem;
}
.comlogos {
    width: 100%;
    height: 180px;
    object-fit: contain;
}
.ini1, .ini2, .ini3, .ini4, .ini5, .ini6, .ini7, .ini8, .ini9, .ini10, .ini11, .ini12, .ini13, .ini14, .ini15 {
    width: 100vw;
    height: 100%;
    object-fit: contain;
}

@keyframes Logoz {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(200px);
    }

}
.b4grid2 {
    margin-top: 1%;
    width: 75%;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2%;
   margin-left: -8%;
}
.b4grid2 > p {
    font-size: 16px;
    width: 71%;
    height: 20px;
}
.line4 {
    width: 2.5%;
    height: 70%;
   display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18%;
}
.small-vertical4 {
    width:  22%;
    height: 65%;
    background-color: black;
}
 .grid-container4 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: (auto, 700px);
    align-items: center;
    justify-content: center;
    padding: 1% 6%;
    margin-top: 1%;
    gap: 45px;
}
.grid-space {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-top: 0.05px solid #ededed;
    box-shadow:  0 2px 5px lightgrey;
    font-size: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  .grid-space:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -4px 10px rgba(0, 0, 0, 0);
  }
  .space1 {
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 3%;

  }
  .manage {
    width: 850px;
    height: 220px;
  }
  .manage > h6 {
    font-size: 0.8rem;
    margin: 4% 0;
    font-weight: 400;
  }
  .manage > h3 {
    font-size: 1.4rem;
    margin-top: -3%;
  }
  .manage > p {
    font-size: 1rem;
    margin-top: -1%;
  }
  .engi-flex {
    display: flex;
    gap: 2%;
  }
  #engi {
    width: 22.5%;
    height: 5%;
    object-fit: contain;
}

.register {
    width: 20%;
    height: 21%;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color:  rgb(0, 89, 255);
    border: none;
    border-radius: 10px;
    margin-top: 1.8%;
    cursor: pointer;
}
.register:hover {
    background-color: darkblue;
    transition: 0.4s ease;
}
.space2, .space3 {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
  }
  .space3 {
    padding-top: 6%;
  }
  .space2 > img {
    width: 100%;

  }
  #tennis {
    width: 80%;
    height: 30%;
    margin-top: -2%;
  }
.intel {
    width: 92%;
    height: auto;
}
.intel > h6 {
    font-size: 0.8rem;
    font-weight: 410;
}
.intel > h3 {
    font-size: 1.4rem;
    margin-top: -4%;
}
.intel > p {
    font-size: 1rem;
    margin-top: -1%;
}

:root {
    --button: rgb(0, 89, 255);
    --buttonhover:  darkblue;
}
.exploragn {
    width: 20%;
    font-size: 1rem;
    padding: 2% 0;
    border-radius: 10px;
    background-color: var(--button);
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 2%;
    font-weight: bold;
}
.exploragn:hover {
    background-color: var(--buttonhover);
}
.watch {
    width: 30%;
    padding: 2.5% 0;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--button);
    border: none;
} 
.watch:hover {
    background-color: var(--buttonhover);
}
.second {
    margin-top: -3%;
}
.space4  {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.space4 > img {
    width: 100%;
}
.space5 {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.space5 > img {
    width: 100%;
}
.now {
    color: white;
    width: 20%;
    background-color: var(--button);
    padding: 2% 0;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
footer {
    margin-top: 8%;
    width: 100%;
    height: 600px;
    background-color:  #eef2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 400;
}
.flex-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.sapagn {
    width: 35%;
    height: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexbox {
    width: 15%;
    height: 78%;
    margin-top: -1%;
    line-height: 1.6rem;
    padding: 1% 0;
}
.flexbox > p >  a:hover {
    text-decoration: underline;
}
.sapslogo2 {
    position: absolute;
    width: 30%;
    height: 9%;
    object-fit: contain;
    top: 0;
    right: 65%;
}
.iconflex {
    margin-top: 15% auto;
    width: 100%;
    height: 70%; 
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideicon {
    width: 15%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
}
#headphone {
    position: absolute;
    width: 100%;
    height: 8%;
    left: 20%;
}
.nig {
    height:  80%;
    width: 80%;
}
.nig > p {
    text-align: left;
    margin-top: -2%;
    line-height: 1.5rem;
}
.nig > .country {
    margin-top: -1%;
    font-family: Roboto;
    margin-left: 5%;
    font-size: 0.9rem;
}
#env {
    position: absolute;
   width: 100%;
   height: 8%;
   top: 50%;
   left: 20%;
}
#chat {
    position: absolute;
    width: 100%;
    height: 8%;
    top: 75%;
    left: 20%;
}
.number {
    font-size: 1.2rem;
    margin-top: -1%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.692);
}
.nig > p {
    margin-left:  4%;
} 
.local {
    margin-top: -4%;
    margin-left:  4%;
    height: 40px;
    font-size: 0.8rem;
}
.nig > .local > a {
    color: black;
}
.contact {
    margin-top: 2%;
    margin-bottom: 11%;
    font-size: 0.9rem;
}
.chatnow {
    font-size: 0.9rem;
}
.flexbox > h5 {
    font-size: 1rem;
    margin-top: -4%;
    font-weight: 500;
}
.flexbox > p > a {
    text-decoration: none;
    color: black;
    font-size: 0.85rem;
}
.socials {
    position: absolute;
    width: 18%;
    height: 8%;
    top: 85%;
    left: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cont {
    width:14%;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#smedia {
    width: 59%;
    height: 47%;
}
.upload {
    width: 5%;
    height: 10%;
    position: absolute;
    top: 13%;
    right: 2%;
    padding: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-upload {
    font-size: 1.2rem;
}

@media screen and (max-width: 980px) {
    .grid-container {
        display: none;
    }
    .altgrid1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .background-image {
        background-position:  left top;
        height: 900px;
    }
}
